@model AMUW.ViewModels.SettingViewModel

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<h2>Settings</h2>

@using (Html.BeginForm("Settings", "VirtualMachine", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.SubscriptionId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SubscriptionId, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Credential, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Credential, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Save Changes" />
        </div>
    </div>
}